@charset "UTF-8";

/// ============================================================
/// 変数
/// プロジェクト用
/// ============================================================

///
/// 文字色
///

// デフォルトカラー
$txt-color-main: #333;

// 強調カラー
// $txt-color-em: ;

// ブランドカラー
// $brand-color: ;


/// 
/// フォントサイズ
/// 
$txt-size-sp: 13px;


/// 
/// 最小幅
/// 
$min-width-pc: 1240px;
$min-width-sp: 320px;


/// 
/// ブレイクポイント
/// 
$breakpoint-m: "all and (max-width: 767px)";
