@import "../import";
@charset "utf-8";

/* ============================================================
   Base
============================================================ */
/* img
---------------------------------------- */
img {
	max-width: 100%;
	height: auto;
}


/* --------------------------------------------------
   html
-------------------------------------------------- */
html{
	overflow-y: scroll;
}


/* --------------------------------------------------
   body
-------------------------------------------------- */
body{
	min-width: $min-width-pc;
	color: $txt-color-main;
	font-family: 'Noto', 'ヒラギノ角ゴ ProN W3', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Sans-Serif;
	// 縦書き
	// font-family: "Times New Roman", "游明朝", YuMincho,"ヒラギノ明朝 Pr6 W6","Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝","MS PMincho",Meiryo, serif;
	font-size: 14px;
	line-height: 2;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

// ::-moz-selection {
// 	color: ;
// 	background: ;
// }
// ::selection {
// 	color: ;
// 	background: ;
// }

// /* =========  mediaquery -> sp  ========= */
// @media #{$breakpoint-sp} {
// 	body{
// 		min-width: $min-width-sp;
// 		font-size: $txt-size-sp;
// 		line-height: 1.8;
// 	}
// }



/* --------------------------------------------------
   base link
-------------------------------------------------- */
a {
	color: $txt-color-main;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:link,
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
	outline: none;
}
a:active {
	outline: none;
}
