@import "../import";
@charset "utf-8";

/* ============================================================
   font
============================================================ */
/* Noto
---------------------------------------- */
@font-face {
	font-family:"Noto";
	src:url("/assets/font/NotoSansCJKjp-Regular.eot");
	src:url("/assets/font/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"),
	url("/assets/font/NotoSansCJKjp-Regular.woff") format("woff"),
	url("/assets/font/NotoSansCJKjp-Regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal
}

@font-face {
	font-family:"Noto";
	src:url("/assets/font/NotoSansCJKjp-Bold.eot");
	src:url("/assets/font/NotoSansCJKjp-Bold.eot?#iefix") format("embedded-opentype"),
	url("/assets/font/NotoSansCJKjp-Bold.woff") format("woff"),
	url("/assets/font/NotoSansCJKjp-Bold.ttf") format("truetype");
	font-weight:bold;
	font-style:normal
}



