@charset "UTF-8";

/// ============================================================
/// 擬似要素
/// ============================================================
@mixin content($width: 0, $height: 0) {
	content: "";
	width: $width;
	height: $height;
}

