@charset "UTF-8";

/// ============================================================
/// テキスト天地中央揃え擬似要素
/// ============================================================
@mixin vertical-m() {
	content: "";
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

