@import "../import";
@charset "utf-8";


/* ============================================================
   Page
============================================================ */
.l-page {
}

// /* =========  mediaquery -> sp  ========= */
// @media #{$breakpoint-m} {
// }

/* ============================================================
   Content
============================================================ */
.l-content {
}

// /* =========  mediaquery -> sp  ========= */
// @media #{$breakpoint-m} {
// }


/* --------------------------------------------------
   bread crumb
-------------------------------------------------- */
.bread-crumb {
}

// /* =========  mediaquery -> sp  ========= */
// @media #{$breakpoint-m} {
// }
